.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.navbarlinks {
  height: 100%
}
.navbarlinks li {
  list-style: none;
}
.navbarlinks ul {
  display: flex;

}
.togglebutton {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.togglebutton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.svg-header {
  width: 0.8rem;
  display: inline;
}
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .togglebutton {
    display: flex;
    }
  .navbarlinks {
    display: none;
    width: 100%;
  }
  .navbarlinks ul {
    width: 100%; 
    flex-direction: column;
  }
  .navbarlinks ul li {
    text-align: center;
  }
  .navbarlinks ul li a {
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: var(--size-xs);
    font-weight: 600;
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }
  .color {
    color: var(--clr-slate600);
  }
  .anchor {
    color: var(--clr-rose);
  }
  .navbarlinks ul li a:hover{
    color: var(--clr-rose);
  }
  .navbarlinks.active {
    display: flex;
  }
  .header__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
